beautifulsoup4==4.14.2
certifi==2024.12.14
charset-normalizer==3.4.1
idna==3.10
numpy==2.2.2
pandas==2.2.3
pefile==2023.2.7
pip==23.2.1
psutil==7.0.0
python-dateutil==2.9.0.post0
pytz==2025.1
pywin32==308
requests==2.32.3
six==1.17.0
soupsieve==2.8
typing_extensions==4.15.0
tzdata==2025.1
urllib3==2.3.0
